.main-container {
    border: 1px solid #000;
    padding: 1em;
    background-color: #D3D3D3;
  }
  
  .section-title {
    font-size: 1.6em;
  }
  
  .inner-container {
    border: 1px solid #424242;
    padding: 1em;
    background-color: #FFF;
  }
  